@* https://v0.dev/chat/blazor-photo-gallery-nE7iWU2zkeV *@

@page "/V0_1"
@namespace Web.Components.Pages.PhotoTemplates.V0
@inherits BasePhotoTemplate

<h1>Photo Gallery V0_1</h1>

<div class="photo-gallery">
    @foreach (var photo in GetPhotos())
    {
        <div class="photo-item" @onclick="() => OpenPhoto(photo)">
            <img src="@photo.FullSizeUrl" alt="@photo.Title" loading="lazy" />
        </div>
    }
</div>

@if (selectedPhoto != null)
{
    <div class="photo-modal" @onclick="ClosePhoto">
        <div class="photo-modal-content">
            <img src="@selectedPhoto.FullSizeUrl" alt="@selectedPhoto.Title" />
            <p>@selectedPhoto.Title</p>
        </div>
    </div>
}

@code {
    
    // [Parameter]
    // protected List<Photo> _photos { get; set; } = new();
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     _photos = GetPhotos();
    //     
    //     await base.OnInitializedAsync();
    // }
    //
    // private Photo selectedPhoto;
    //
    // private void OpenPhoto(Photo photo)
    // {
    //     selectedPhoto = photo;
    // }
    //
    // private void ClosePhoto()
    // {
    //     selectedPhoto = null;
    // }
}